*{
    margin: 0;
    padding: 0;
    color: #32383d;
    box-sizing: border-box;
}

body {
    background: #f7f7f7;
    color: #32383d;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

:root {
    --primary-color: #32383d;
}

#hamburger {
	z-index: 100;
}

#hamburger-menu {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: .15s linear;
    transition:.15s linear
}

.logo{
    position:absolute;
    width: 50px;
    fill: #000;
}

.fixed {
    background:#f7f7f7
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: all .6s ease-in-out;
    transition:all .6s ease-in-out
}

.center-content {
	width: 100%;
	max-width: 1180px;
	padding: 0px 10px;
    margin: 0 auto;
    position: relative
}

.columns {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position:relative;
}

.column {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    max-width: 100%;
}

.top-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: right;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #32383d;
    text-decoration: none;
    font-size: 17px;
}

nav ul li a:hover {
    content: '';
    opacity: 80%;
    transition: 0.2s;
}

#content {
    position: relative;
    padding-top: 320px;
}

#content .column > .top-text {
    padding-bottom: 145px;
}

#content .column > .top-text h1 {
    display: block;
    font-size: 70px;
	line-height: 70px;
	font-weight: bold;
    max-width: 746px;
    width: 100%;
    padding-bottom:40px;
}

#content .column > .top-text > p {
    display: block;
    font-size: 22px;
    line-height: 40px;
    font-weight: 200;
    max-width: 400px;
    width:100%;
}

#content .home_blob {
    display: block;
    position: absolute;
    bottom: 0;
    width: 480px;
    right: 3%;
}

#content .home_blob .blob {
    fill: var(--primary-color);
}

#content .home_blob .blob .blob_img {
    width: 100px;
}

.vspacer {
    display: block;
    width: 100%;
    margin: 0;
    clear: both;
}

.vspacer-lg {
    padding-bottom: 150px;
}

.heads {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    max-width: 640px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    padding-bottom: 80px;
}

.heading {
    display: block;
    line-height: 70px;
    max-width: 640px;
    width: 100%;
    padding-bottom:80px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.paragraph {
    justify-content: center;
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 40px;
}

.button-text {
    font-size: 18px;
    font-family: Hurme,sans-serif;
    font-weight: 550;
    width: fit-content;
    text-decoration: none;
    position: relative;
    padding: 20px 50px;
}

.btn {
    color: #16181a;
}

.btn::after, .btn::before {
    border: 2px solid #16181a;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: 0;
    transition: transform 0.3s ease;
}

.btn:hover::after {
    transform: translate(-5px, -5px);
}

.btn:hover::before {
    transform: translate(5px, 5px);
}

#projects .heads {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    max-width: 640px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    padding-bottom: 40px;
    position: relative;
}

#projects .heading {
    display: block;
    line-height: 70px;
    max-width: 640px;
    width: 100%;
    padding-bottom:40px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.underline {
    fill-rule: nonzero;
    clip-rule:evenodd;
    stroke-linecap:round;
    stroke-linejoin:round;
    top: 30px; 
    z-index: -1;
    height: 100%;
    width: 100%;
    stroke-miterlimit: 10;
    transform: scale(0.4);
    position: absolute;
    display: block;
}

.row {
    width: 100%;
	max-width: 1180px;
	padding: 0px 10px;
    margin: 0 auto;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-1 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 20px;
    padding-left: 20px;
}

.col-columns {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.column-block {
    margin-bottom: 100px;
}

.svg-holder {
    width: 100%;
    margin-bottom: 45px;
    text-align: center;
}

.subheading {
    display: block;
    line-height: 70px;
    width: 100%;
    padding-bottom:40px;
    font-size: 30px;
    font-weight: 500;
}

.subparagraph {
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px;
}

#projects-content .col-1 .col-columns .first-block {
    margin-top: 300px;
}

#projects-content .col-1 .col-columns .second-block {
    margin-top: 150px;
}

.icon {
    width: 25px;
    margin-right: 15px;
    vertical-align: middle;
    margin-left: 30%;
}

#contact .heads {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    max-width: 640px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    padding-bottom: 40px;
    position: relative;
}

#contact .heading {
    display: block;
    line-height: 70px;
    max-width: 640px;
    width: 100%;
    padding-bottom:40px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

#contact-content .heads {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    max-width: 640px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 80px;
}

#contact-content .contact-paragraph {
    text-align: center;
    line-height: 30px;
    font-size: 22px;
    font-weight: 250;
    padding-bottom: 80px;
}

#contact-content .info {
    line-height: 35px;
    margin: 0 0 20px;
    text-align: left;
    
}

#contact-content p a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    vertical-align: middle;
}

.ilustration-holder {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

.ilustration {
    padding-top: 600px;
    width: 100%;
}

#ilustration svg {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

#first-waypoint {
    opacity: 0;
}

#first-waypoint.start {
    opacity: 1;
}

#first-waypoint.start .path0 {
    stroke-dasharray: 500;
    stroke-dashoffset: 0;
    animation:dash0 3s linear
}

#first-waypoint.start .path1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation:dash1 3s linear
}

#first-waypoint.start .path2 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    animation:dash2 3s linear
}

#first-waypoint.start .path3 {
    stroke-dasharray: 3000;
    stroke-dashoffset: 0;
    animation:dash3 3s linear
}

#first-waypoint.start .path4 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 0;
    animation:dash4 3s linear
}

#first-waypoint.start .path5 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 0;
    animation:dash5 3s linear
}

#second-waypoint {
    opacity: 0;
}

#second-waypoint.start {
    opacity: 1;
}

#second-waypoint.start .path0 {
    stroke-dasharray: 500;
    stroke-dashoffset: 0;
    animation:dash0 3s linear
}

#second-waypoint.start .path1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation:dash1 3s linear
}

#second-waypoint.start .path2 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    animation:dash2 3s linear
}

#second-waypoint.start .path3 {
    stroke-dasharray: 3000;
    stroke-dashoffset: 0;
    animation:dash3 3s linear
}

#second-waypoint.start .path4 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 0;
    animation:dash4 3s linear
}

#second-waypoint.start .path5 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 0;
    animation:dash5 3s linear
}

#third-waypoint {
    opacity: 0;
}

#third-waypoint.start {
    opacity: 1;
}

#third-waypoint.start .path0 {
    stroke-dasharray: 500;
    stroke-dashoffset: 0;
    animation:dash0 3s linear
}

#third-waypoint.start .path1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation:dash1 3s linear
}

#third-waypoint.start .path2 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    animation:dash2 3s linear
}

#third-waypoint.start .path3 {
    stroke-dasharray: 3000;
    stroke-dashoffset: 0;
    animation:dash3 3s linear
}

#third-waypoint.start .path4 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 0;
    animation:dash4 3s linear
}

#third-waypoint.start .path5 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 0;
    animation:dash5 3s linear
}

#fourth-waypoint {
    opacity: 0;
}

#fourth-waypoint.start {
    opacity: 1;
}

#fourth-waypoint.start .path0 {
    stroke-dasharray: 500;
    stroke-dashoffset: 0;
    animation:dash0 3s linear
}

#fourth-waypoint.start .path1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation:dash1 3s linear
}

#fourth-waypoint.start .path2 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    animation:dash2 3s linear
}

#fourth-waypoint.start .path3 {
    stroke-dasharray: 3000;
    stroke-dashoffset: 0;
    animation:dash3 3s linear
}

#fourth-waypoint.start .path4 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 0;
    animation:dash4 3s linear
}

#fourth-waypoint.start .path5 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 0;
    animation:dash5 3s linear
}

#fifth-waypoint {
    opacity: 0;
}

#fifth-waypoint.start {
    opacity: 1;
}

#fifth-waypoint.start .path0 {
    stroke-dasharray: 500;
    stroke-dashoffset: 0;
    animation:dash0 3s linear
}

#fifth-waypoint.start .path1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation:dash1 3s linear
}

#fifth-waypoint.start .path2 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    animation:dash2 3s linear
}

#fifth-waypoint.start .path3 {
    stroke-dasharray: 3000;
    stroke-dashoffset: 0;
    animation:dash3 3s linear
}

#fifth-waypoint.start .path4 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 0;
    animation:dash4 3s linear
}

#fifth-waypoint.start .path5 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 0;
    animation:dash5 3s linear
}

@keyframes dash0 {
    from {
        stroke-dashoffset:500
    }

    to {
        stroke-dashoffset:0
    }
}

@keyframes dash1 {
    from {
        stroke-dashoffset:1000
    }

    to {
        stroke-dashoffset:0
    }
}

@keyframes dash2 {
    from {
        stroke-dashoffset:2000
    }

    to {
        stroke-dashoffset:0
    }
}

@keyframes dash3 {
    from {
        stroke-dashoffset:3000
    }

    to {
        stroke-dashoffset:0
    }
}

@keyframes dash4 {
    from {
        stroke-dashoffset:4000
    }

    to {
        stroke-dashoffset:0
    }
}

@keyframes dash5 {
    from {
        stroke-dashoffset:5000
    }

    to {
        stroke-dashoffset:0
    }
}

.mobile-display {
    display: none
}

.desktop-display {
    display: block
}

@media (max-width: 1150px) {
    .desktop-display {display: none}
    .mobile-display {display: block}
}

.mb-vertical-center {
    position: absolute;
    width: 100%;
    max-width: 1150px;
    padding: 0px 40px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.mobile-heading {
    display: block;
    line-height: 70px;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
}

.mobile-paragraph {
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px;
}